

/*====================*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    }



h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}


/*  header  */


.header{
    text-decoration: none;
    border-bottom: 1px solid #E7E9FC;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding: 17px 0;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio{
    text-transform: uppercase;
    color: #2e2f42;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-nav {
    display: none;
}

.address{
    display: none;
}

.open-menu-butn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}




.mob-menu {
    width: 100%;
    height: 100%;
    padding: 24px 24px 40px 16px;
    top: 0;
    display: flex;
    position: fixed;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 200;
}

.menu-close-butn {
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-bottom: 24px;
    padding: 0;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-address{
    display: flex;
    margin-bottom: 48px;
    gap: 24px;
    flex-direction: column;
    
}

.mob-address-link{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mob-address-link:hover, .mob-address-link:focus{
color: #4D5AE5;
}

.mob-menu-item{
    gap: 40px;
}

.mob-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.current {
    position: relative;
    color: #404bbf;
}

.mob-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

.mob-icon-social {
    display: block;
    width: 40px;
    height: 40px;
}

.mob-icon {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    border-radius: 50%;
}
.mob-icon:hover, .mob-icon:focus{
    background-color: #404bbf;
}

.icon-social {
    fill: #f4f4fd;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}



/* Section-1 */



.section-one {
    display: flex;
    box-sizing: content-box;
    padding-top: 72px;
    padding-bottom: 72px;
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/people-office-mob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 496px;
    margin-left: 52px;
    margin-right: 52px;
    margin-bottom: 72px;
}



@media screen and (min-device-pixel-ratio: 2), 
(min-resolution: 192dpi), 
(min-resolution: 2dppx){

.section-one{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/people-office-mob-2x.jpg);
}
}

.button {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    background-color: #4D5AE5;
    cursor: pointer;
    min-width: 169px;
    padding: 16px 32px 16px 32px;
    margin: 0 auto;
    margin-top: 48px;
    border-radius: 4px;
    gap: 10px;
    display: block;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.button:hover, .button:focus {
    background-color: #404BBF;
}


/* Section-2 */

.section-two{
    padding: 96px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
     white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.work-menu {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.work-list-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.work-list-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.icon-work {
    display: none;
}



/* Section-3 */


.section-three {
    display: flex;
    max-width: 100%;
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.team-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-list-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-content{
    padding: 32px 0;
}

.team-list-item{
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-icon-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-direction: row;
}

.team-icon{
    display: flex;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.team-icon:hover, .team-icon:focus {
    background-color: #404bbf;
}

.team-icon-social{
    display: block;
    width: 40px;
    height: 40px;
}

.icon-social {
    fill: #f4f4fd;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}



/*  Section-4 */



.section-portfolio {
    display: flex;
    padding-top: 100px;
    padding-bottom: 92px;
}

.portfolio-content{
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}


.portfolio-list-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-text:hover{
transform: translateY(0%);
}

.portfolio-item{
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover-wrap{
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    position: absolute;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay-text {
    transform: translateY(0);
}
.portfolio-item:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}


/* FOOTER */



.footer {
    display: flex;
    background: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
    text-align: center;
    display: block;
}

.partlogo-studio {
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-content {
    margin-bottom: 72px;
}

.footer-social-text{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
}

.footer-icon-social{
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.footer-media{
    margin-bottom: 72px;
}
.footer-icon{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    fill: white;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.footer-icon:hover, .footer-icon:focus {
background-color: #31d0aa;
}

.icon-social{
    fill: #f4f4fd;
}

.form-text{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
}

.email-input{
width: 264px;
height: 40px;
padding: 8px 16px;
background-color: inherit;
color: #ffffff;
border: 1px solid #fff;
border-radius: 4px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
line-height: 2;
letter-spacing: 0.04em;
}

.email-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.email-label{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #fff;
}

.footer-button{ 
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-width: 165px;
    margin: 0 auto;
    border-radius: 4px;
    height: 40px;
    background-color: #4D5AE5;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover, .footer-button:focus {
    background-color: #404BBF;
}

.footer-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.button-svg{
    margin-left: 16px;
    fill: #fff;
}





/* MODAL */



.overlay-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    width: 288px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 16px 16px 16px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.modal-close{
    display: block;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    margin-left: auto;
    margin-bottom: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close:focus, .modal-close:hover
{
background-color: #404bbf;
border: none;
fill: #ffffff;
}

.icon-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-input{
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon{
    fill: #4D5AE5;
}

.modal-label{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    left: 16px;
    transform: translate(-50%, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap{
    position: relative;
}

.modal-text{
width: 100%;
height: 120px;
padding: 8px 16px;
resize: none;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal-text:focus{
border-color: #4D5AE5;
}

.box-comment{
    margin-bottom: 16px;

}
.modal-form-wrap{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 8px;
}

.modal-policy{
    margin-bottom: 24px;
}

.icon-checkbox{
    fill: #f4f4fd;
}

.form-input-checbox{
    margin-top: 16px;  
}

.form-label{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.modal-check:checked + .form-label span{
background-color:#404bbf;
border: none;
fill: #F4F4FD;
}

.fake-check {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
}

.link-policy{
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.send-butn{
display: block;
min-width: 169px;
height: 56px;
margin: 0 auto;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
background-color: #4D5AE5;
border: none;
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-butn:hover, .send-butn:focus{
background-color: #404BBF;
}

.modal-open{
    opacity: 1;
    pointer-events: auto;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 16px;
    }

    /* header */

    .menu-nav {
        display: flex;
        gap: 40px;
    }
    .open-menu-butn{
        display: none;
    }
    .address{
        display: block;
    }
    .logo{
        margin-right: 120px;
    }
    .menu-nav-link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .menu-nav-link:hover, .menu-nav-link:focus {
        color: #404bbf;
    }
        
    .current {
        position: relative;
        color: #404bbf;
    }
        
    .current::after {
        content: "";
        background-color: #404bbf;
        border-radius: 2px;
        height: 4px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
    }
    .address-link {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
        color: #434455;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .address-link:hover, .address-link:focus {
        color: #404bbf;
    }

    .address {
        font-style: normal;
        margin-left: auto;
    }

    .menu-address {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }


    /*Section-1*/


    .title{
        font-size: 56px;
        line-height: 1.08;
        margin-bottom: 36px;
    }

    .section-one{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
    url(../images/people-office-tab.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        
        .section-one {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/people-office-tab-2x.jpg);
        }
    }


    /*Section-2*/


    .work-menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 72px 24px;
    }
    
    .work-item {
        width: calc((100% - 24px) / 2);
    }

    .work-list-title{
        text-align: left;
    }


    /*Section-3*/


    .team-list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 64px 24px;
        }

        .team-container{ 
            width: 584px;
            flex-wrap: wrap;
            flex-direction: row;
        }
    
    /*Section-4*/


        .section-portfolio{
            padding: 96px 0;
        }
        
    .portfolio-list{
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }
    .portfolio-item {
        width: calc((100% - 24px) / 2)
    }


    /* FOOTER */


    .footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 96px 0;
    }
    .soc-media{
        width: 584px;
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 24px;

    }
    
    .footer-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .footer-logo {
        display: inline-block;
        align-self: start;
    }
.footer-social-text {
    display: inline-block;
    align-self: start;
}
.form-text {
    display: inline-block;
    align-self: start;
}

/* MODAL */

.modal{
    width: 408px;
    padding: 72px 24px 24px 24px;
}

}




@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }


    /* HEADER */


    .logo{
        margin-right: 76px;
    }
    .menu-address{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .address-link{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }


    /*Section-1*/



    .section-one{
        padding: 188px 0;
        max-width: 1440px;
    }
    
    .section-one{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    margin: 0 auto;
    }
    
    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-one {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
        }
    }


    /*Section-2*/

    .section-two{
        padding-left:  15px;
        padding-right: 15px;
    }
    
    .work-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }
    
    
    .work-list-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }
    
        .icon-work {
            display: flex;
            height: 112px;
            margin-bottom: 8px;
            align-items: center;
            justify-content: center;
            background: #f4f4fd;
            border-radius: 4px;
            border: 1px solid #8e8f99;
        }
        .work-menu{
            display: flex;
            flex-direction: row;
            gap: 24px;
        }
            .work-item {
                width: calc((100% - 72px) / 4);
        }
    

       /* Section-3*/



       .section-three {
        display: flex;
        max-width: 100%;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .team-container {
        width: 1158px;
    }
    .team-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 24px;
    }
    .team-list-item {
        width: calc((100% - 72px) / 4);
    }


        /* Section-4*/



    .section-portfolio{
            padding-top: 120px;
            padding-bottom: 120px;
    }
        
    .portfolio-list{
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 48px;
    }
    .portfolio-item {
        width: calc((100% - 48px) / 3)
    }




    /* FOOTER */



    .footer {
        max-width: 100%;
        height: 312px;
        padding: 100px 0;
    }
    
    .soc-media {
        display: flex;
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        align-items: baseline;
        gap: 0;
    }

.footer-media{
    margin-right: 80px;
}
.footer-content{
    margin-right: 120px;
    margin-bottom: 0;
}

    .form-footer {
        display: flex;
        flex-direction: column;
        width: 453px;
        height: 80px;
    }

    .footer-text {
        max-width: 264px;
    }

    .footer-form {
        display: flex;
        margin-right: 24px;
    }

    .button-svg {
        margin-left: 16px;
        fill: #fff;
    }

}